<strong>Olá {{deliveryman}}!</strong>
<p> Foi realizado o cancelamento da entrega de id: {{id}}. </p>
<p> 
    A entrega corresponde ao produto '{{product}}', que seria entregue no seguinte endereço:
</p>
<i>
    {{address_street}}, {{address_number}} - {{address_complement}} - {{uf}} - 
    {{address_zipcode}}
</i>

