<strong>Olá {{deliveryman}}!</strong>
<p>Uma nova mercadoria está disponível para retirada.</p>
<h3>Dados do produto</h3>
<strong>nome</strong> - {{product}}<br/>
            
<h3>Dados da Entrega</h3>
<strong>Destinatário:</strong> {{recipient}}<br/>
<strong>Rua:</strong> {{address_street}}<br/>
<strong>Número:</strong> {{address_number}}<br/>
<strong>Complemento:</strong> {{address_complement}}<br/>
<strong>UF:</strong> {{uf}}<br/>
<strong>CEP:</strong> {{address_zipcode}}<br/>
